<div class="container">
  <div class="content">
    <div>
      <ng-template #accepted>
        <div>
          <span>
            Zarezerwowano wybrane miejsca, twój nr rezerwacji: {{numb}}.
            <p class="router-link"><a routerLink="/main">Powrót do repertuaru</a></p>
          </span>
        </div>
      </ng-template>
      <mat-card *ngIf="!accept; else accepted">
        <mat-card-header>
          <mat-card-title>Podaj Swoje dane:</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="informationForm" (keydown)="keyDown($event)">
            <div class="form-field">
              <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Imię</mat-label>
                <input matInput placeholder="Imię" type="text" [formControl]="infoF.firstName" required>
                <mat-error *ngIf="infoF.firstName.hasError('required')">{{invalidMessage.enterValue}}</mat-error>
              </mat-form-field>
            </div>
            <div class="form-field">
              <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Nazwisko</mat-label>
                <input matInput placeholder="Nazwisko" type="text" [formControl]="infoF.lastName" required>
                <mat-error *ngIf="infoF.lastName.hasError('required')">{{invalidMessage.enterValue}}</mat-error>
              </mat-form-field>
            </div>
            <div class="form-field">
              <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" type="email" [formControl]="infoF.email" email required>
                <mat-error *ngIf="infoF.email.hasError('required')">{{invalidMessage.enterValue}}</mat-error>
                <mat-error *ngIf="infoF.email.hasError('pattern')">{{invalidMessage.invalidEmail}}</mat-error>
              </mat-form-field>
            </div>
            <div class="form-field">
              <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Numer telefonu</mat-label>
                <input matInput placeholder="Telefon" type="tel" [formControl]="infoF.tel" required>
                <mat-error *ngIf="infoF.tel.hasError('required')">{{invalidMessage.enterValue}}</mat-error>
              </mat-form-field>
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <div class="container">
            <div class="content">
              <div class="login-button">
                <button mat-button type="submit" (click)="submit()" [disabled]="informationForm.invalid">Akceptuję</button>
              </div>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>





<!--                    <div class="form-field">-->
<!--                        <mat-form-field appearance="outline" floatLabel="always">-->
<!--                            <mat-label>Password</mat-label>-->
<!--                            <input matInput placeholder="Enter your password" [type]="show ? 'password' : 'text'"-->
<!--                                [formControl]="password" required>-->
<!--                            <button mat-icon-button matSuffix (click)="show = !show" [attr.aria-label]="'Show password'"-->
<!--                                [attr.aria-pressed]="show">-->
<!--                                <mat-icon>{{show ? 'visibility' : 'visibility_off'}}</mat-icon>-->
<!--                            </button>-->
<!--                            <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>-->
<!--                        </mat-form-field>-->
<!--                    </div>-->
