<div class="container">
  <div class="content">
    <div class="row">
      <span class="row-number">{{row}}</span>

      <div class="row-form">
        <div *ngFor="let seat of seatsPerRow">
          <ng-container [ngSwitch]="seat?.space">
            <div *ngSwitchCase="seatSpaceEnum.EMPTY" class="empty-seats-button"></div>
            <div *ngSwitchCase="seatSpaceEnum.BOOKED" class="seats-button">
              <mat-icon>face</mat-icon>
            </div>
            <button *ngSwitchDefault
                    #seatNumber
                    [id]="seat?.formControl"
                    class="seats-button"
                    (click)="selectSeat(seat)">
              {{seat?.seatNumber}}
            </button>
          </ng-container>
        </div>
      </div>

      <span class="row-number">{{row}}</span>
    </div>
  </div>
</div>

