<div class="container">
  <div class="content">
    <div class="row">
      <span class="row-number">{{row}}</span>

      <form class="row-form" [formGroup]="rowForm">
        <div *ngFor="let seat of seatsPerRow">
          <ng-container [ngSwitch]="seat?.space">
            <div *ngSwitchCase="seatSpaceEnum.EMPTY" class="empty-seats-button"></div>
            <div *ngSwitchCase="seatSpaceEnum.BOOKED" class="seats-button"><mat-icon>face</mat-icon></div>
            <input *ngSwitchDefault class="seats-button" type="button" [value]="seat?.seatNumber" [formControlName]="seat?.formControl">
          </ng-container>
        </div>
      </form>

      <span class="row-number">{{row}}</span>
    </div>
  </div>
</div>

