@import "variables";

.container {
  position: relative;
  width: 100%;
  height: 100%;

  .content {
    position: relative;
    width: 100%;
    height: 100%;

    .row {
      display: flex;
      align-items: center;

      .row-number {
        &:first-child {
          margin-right: 5px;
        }

        &:last-child {
          margin-left: 5px;
        }
      }

      .row-form {
        display: flex;
        justify-content: center;

        .booked-by-other-user {
          border: solid 1px red;
          color: red;
        }
      }
    }
  }
}
