<div class="container">
  <div class="content">
    <div class="hall-name">Sala {{roomId}}</div>
    <div class="hall-content">
      <div class="screen">EKRAN</div>
      <div class="seats">
        <div *ngFor="let row of rows; let index = index">
          <app-seats [row]="index"
                     [seatsPerRowNumber]="row?.seatsPerRowNumber"
                     [emptySpacePerRowNumber]="row.emptySpacePerRowNumber"
                     [bookedRoomSeats]="bookedRoomSeats"
                     [bookedUserSeats]="bookedUserSeats"
                     (bookedUserSeatsChange)="bookedUserSeatsChange($event)"
          ></app-seats>
        </div>
      </div>
    </div>
  </div>
</div>
