<div class="container">
  <div class="content">

    <button class="day" (click)="showRepertuar()" *ngIf="!disabledSelectedDate; else disabledDate">
      <span class="name-day">{{date | date:'EEE'}}</span>
      <span class="date">{{date | date:'d'}}</span>
      <span class="name-month">{{date | date:'MMM'}}</span>
    </button>

    <ng-template #disabledDate>
      <p class="day disabledDate">
        <span class="name-day">{{date | date:'EEE'}}</span>
        <span class="date">{{date | date:'d'}}</span>
        <span class="name-month">{{date | date:'MMM'}}</span>
      </p>
    </ng-template>

  </div>
</div>
