.container {
  position: relative;
  width: 100%;
  height: 100%;

  .content {
    position: relative;
    width: 60px;
    height: 90px;

    .day {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      //background: rgba(168, 255, 83, 0.15);
      background: unset;
      border: solid 1px lawngreen;
      box-shadow: 0 0 5px 0 lawngreen;
      box-sizing: border-box;
      cursor: pointer;
      outline: none;
      text-transform: uppercase;

      div {
        padding-bottom: 5px;

        &:last-child {
          padding: 0;
        }

        &.name-month {
          font-size: .625rem;
        }
      }

      &:hover {
        border: solid 2px lawngreen;
      }

      &:disabled {
        border: solid 2px lawngreen;
        color: unset;
        cursor: default;

        .date {
          color: lawngreen;
          text-decoration: underline;
          font-weight: bold;
          font-size: 1.2rem;
        }
      }
    }
  }
}
