<div class="container">
  <div class="content">
    <div class="movie">
      <div class="poster">
        <img *ngIf="posterURL" [src]="posterURL" [alt]="posterAlt"/>
      </div>

      <div class="information">
        <div class="movie-details">
          <div class="title">{{ title | noData }}</div>

          <div class="genres">
            <span *ngFor="let genre of genres; let last = last">
              <span>{{ genre?.name | noData }}</span>
              <span *ngIf="!last" class="backslash"> / </span>
            </span>
          </div>

          <div class="runtime">
            <span>Czas trwania: </span>
            <span>{{ runtime | noData }}</span>
            <span> min.</span>
          </div>

          <div class="production">
            <span>Produkcja: </span>
            <span *ngFor="let productionCountry of productionCountries; let last = last">
              <span>{{ productionCountry?.name | noData }}</span>
              <span *ngIf="!last" class="backslash">/</span>
            </span>
            <span class="releaseDate"> [{{ releaseDate | convertAndFormatDate: 'y' | noData }}]</span>
          </div>
        </div>

        <div class="play-times">
          <div *ngFor="let time of playTimes; let index = index">
            <div class="time-container">
              <a [routerLink]="bookRouterLink(index, time)" class="router-link">
                <div class="time">
                  <div>{{ time | convertAndFormatTime: selectedDay:'HH:mm' | noData }}</div>
                  <div class="view-and-language">
                    {{ view[index] | setMoviePlayView | noData }},
                    {{ lang[index] | setMoviePlayLang: originalLanguage | async | noData }}
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
