<div class="container">
  <div class="content">
    <div class="movie">
      <div class="poster">
        <img *ngIf="posterURL" [src]="posterURL" [alt]="posterAlt"/>
      </div>

      <div class="information">
        <div class="movie-details">
          <p class="title"><span>{{ title | noData }}</span></p>

          <p class="genres">
            <span>Gatunek: </span>
            <span *ngFor="let genre of genres; let last = last">
              {{ genre?.name | noData }} {{!last ? '/ ' : ''}}
            </span>
          </p>

          <p class="runtime">
            <span>Czas trwania: {{ runtime | noData }} min.</span>
          </p>

          <p class="production">
            <span>Produkcja: </span>
            <span *ngFor="let productionCountry of productionCountries; let last = last">
              {{ productionCountry?.name | noData }}  {{!last ? '/ ' : ''}}
            </span>
            <span class="releaseDate"> [{{ releaseDate | convertAndFormatDate: 'y' | noData }}]</span>
          </p>
        </div>

        <p class="play-times">
          <span *ngFor="let movie of played; let index = index">
            <div class="time-container">
              <a [routerLink]="bookRouterLink(index, movie?.time)" class="router-link">
                <div class="time">
                  <span>{{ movie?.time | convertAndFormatTime: selectedDay:'HH:mm' | noData }}</span>
                  <span>
                    {{ movie?.view | setMoviePlayView | noData }},
                    {{ movie?.lang | setMoviePlayLang: originalLanguage | async | noData }}
                  </span>
                </div>
              </a>
            </div>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
