.container {
  position: relative;
  width: 100%;
  height: auto;

  .content {
    position: relative;
    width: 100%;
    height: 100%;

    .movies-template {

      .split-line {
        width: 80%;
        border: solid 0.5px lightgrey;
        margin: auto;
      }
    }
  }
}
