.container {
  position: relative;
  width: 100%;

  .content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .legend {
      display: flex;
      align-items: center;

      .element {
        display: flex;
        align-items: center;
        padding: 20px;
      }
    }
  }
}
