<div class="container">
  <div class="content">
    <div class="title">
      <p>BlackJack CinemA</p>
    </div>
    <div class="better-screen-read">
      <div>
        <button mat-icon-button matSuffix (click)="invertColors()" title="Zamień kolory" [attr.aria-label]="'Zamień kolory'"
                [attr.aria-pressed]="invert">
          <mat-icon>{{invert ? 'invert_colors' : 'invert_colors_off'}}</mat-icon>
        </button>
      </div>
      <div>
        <button mat-icon-button matSuffix (click)="changeFontSize()" title="Zmień czcionkę" [attr.aria-label]="'Zmień czcionkę'">
          <mat-icon>format_size</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
