/* You can add global styles to this file, and also import other style files */
@import "variables";

@include createFontSizeClass(16);

html, body {
  height: 100%;
  background: white;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

p {
  margin: 0
}

button, input {
  outline: none;
  font-size: 0.875rem;
}

.container {
  background: white;
}

.invert-colors {
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -ms-filter: invert(100%);
  -o-filter: invert(100%);
  filter: invert(100%);
}

@include styleTablet() {
  @include createFontSizeClass(12);

  //body {
  //  transform: scale(0.9);
  //}
}

@include styleMobile() {
  @include createFontSizeClass(12);
}


/***************************************************
******************* SHARED STYLES*******************
***************************************************/

app-seats, app-book-information {
  .seats-button, .booked-seats-button {
    background: unset;
    border: solid 1px;
    box-sizing: border-box;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:active {
      //border: solid 2px lawngreen;
    }

    &.select {
      background-color: lawngreen;
      color: white;
      transition: 200ms;
    }

    &.unselect {
      transition: 200ms;
    }
  }

  .seats-button, .empty-seats-button, .booked-seats-button {
    position: relative;
    width: 30px;
    height: 35px;
    margin: 2px;

    mat-icon {
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .empty-seats-button, .booked-seats-button, .seats-button:disabled {
    cursor: default;
  }

  @include styleTablet() {
    .seats-button, .empty-seats-button, .booked-seats-button {
      // FIXME: use transform: scale() to change size of hall
      width: 20px;
      height: 25px;
    }
  }

  @include styleMobile() {
    .seats-button, .empty-seats-button, .booked-seats-button {
      // FIXME: use transform: scale() to change size of hall
      width: 14px;
      height: 20px;
    }
  }
}

